/* =================================================================

    UTILITIES

================================================================= */

/* -----------------------------------------------------------------
    Font faces
----------------------------------------------------------------- */

@each $font-face in $font-faces {
	@include font-face($font-face, $font-path+$font-face, $style: normal, $weight: normal);
}


/* -----------------------------------------------------------------
    Icomoon Icons
----------------------------------------------------------------- */

// Generate Button Modifiers 
@each $icon in $icons {

	.icon-#{nth($icon, 1)} {
		font-size:0;

		&:before{
			content: '#{nth($icon,2)}';
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
		}

	}

}


/* -----------------------------------------------------------------
    Colours
----------------------------------------------------------------- */

@each $colorName, $color in $colors {

	.bg-#{$colorName}{
		background-color: get-map-item($color, $colors);
	}

	.border-#{$colorName}{
		border-color: get-map-item($color, $colors);
	}
}

/* ----------------------------------------------------------------- */

.btn-search{
	background: #000000 url('../images/search.svg') no-repeat center center / 60%;
	width:42px;
	height:42px;
	border: none;
	color: white;
	text-indent: -9999px;
	transition: all 0.4s ease-out;
	cursor: pointer;

	&:hover{
		background-color: lighten(#000000, 50%);
	}
}