/* =================================================================

    VARIABLES

================================================================= */

/* -----------------------------------------------------------------
    breakpoints
----------------------------------------------------------------- */

$screenXS: 599px;
$screenS:  600px;
$screenM:  900px;
$screenL:  1440px;
$screenXL: 1800px;


/* -----------------------------------------------------------------
    layout
----------------------------------------------------------------- */

$containerWidth: $screenL;
$containerPadding: 2rem;
$sectionPadding: 5rem;

/* -----------------------------------------------------------------
    typography
----------------------------------------------------------------- */

$baseFontSize: 1.6rem;
$baseLineHeight: 2rem;
$baseFontFamily: 'Trade Gothic Roman', Arial, Helvetica, sans-serif;
$headingFontFamily: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;

/* -----------------------------------------------------------------
    fonts
----------------------------------------------------------------- */

$font-faces:
	'icomoon',
	'Trade Gothic Bold',
	'Trade Gothic Roman';

$font-path: "../fonts/";


/* -----------------------------------------------------------------
    images
----------------------------------------------------------------- */

$image-path: "../images/";

/* -----------------------------------------------------------------
    Colors
----------------------------------------------------------------- */

$colors:
(
	brandYellow: #ffc600,
	brandBlack: #000000
);
